# Dataset folder
data science bowl 2018/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.env/

# OS files
.DS_Store
Thumbs.db
