# ==============================
# Python cache / compiled files
# ==============================
__pycache__/
*.py[cod]
*$py.class

# ==============================
# Jupyter Notebook checkpoints
# ==============================
.ipynb_checkpoints/

# ==============================
# Virtual environments
# ==============================
venv/
env/
.venv/
.env/

# ==============================
# IDE files
# ==============================
.vscode/
.idea/
*.swp
*.swo

# ==============================
# OS files
# ==============================
.DS_Store
Thumbs.db
desktop.ini

# ==============================
# Output folders (IGNORE ONLY FOLDER)
# ==============================
outputs/

# ==============================
# Dataset folders (DO NOT UPLOAD)
# ==============================
training/
test/

# ==============================
# Logs
# ==============================
*.log

# ==============================
# Distribution / packaging
# ==============================
dist/
build/
*.egg-info/